body {

    background-color: azure;
    color: DarkBlue;
}

div#footer {
    
	
    font-size: 0.8em;
    background-color: azure;
    border: 4px solid DarkBlue;
    margin-top: 3em;
    padding: 1em;
}

 p {
      color: DarkBlue;
	  font-family: "Times New Roman", Times, serif;
    }