body {

    background-color: azure;
    color: DarkBlue;
}

div#footer {
    
	
    font-size: 0.8em;
    background-color: azure;
    margin-top: 3em;
    padding: 1em;
}


	

* {
      color: DarkBlue;
	   font-family: "Arial, Helvetica, sans-serif";
            font-size: 60px;
            text-align: center;
			font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
    }